.profilePhoto{
    height:400px;
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
    
}

.aboutDiv{
    background: #134a9c;
    height:500px;
    display: flex;

}

.leftDivAbout{
    margin-right: 80px;
   
    width:50%;
    display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: flex-end;
    
}
.rightDivAbout{
    
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 40px;
    
}

.aboutName{
    color: white;
    font-size: 50px;
    margin-bottom: 2px;
    margin-top:2px;
    font: 50px "Fira Sans", sans-serif;
}

.aboutTitle{
    color:rgb(196, 193, 193)
}

.contactButton{
    background: #134a9c;
    color:rgb(196, 193, 193);
    margin-top: 14px;
    border:1px solid rgb(196, 193, 193);
    height: 40px;
    width:120px;
    
}

.aboutMe{
    color: #134a9c;
    font: 30px "Fira Sans", sans-serif;
    font-weight: 550;
}

.bottomAbout{
    display: flex;
    justify-content: center;
}

.aboutSection{ 
    width:60%;
}

@media (max-width: 1025px){
   .profilePhoto{
    height:350px;
    width:350px;
    }

    .leftDivAbout{
        margin-right: 60px;
    }

    .aboutName{
        font: 40px "Fira Sans", sans-serif;
    }

    .aboutTitle{
        font-size: 15px;
    }

    .contactButton{
        height: 30px;
        width:110px
    }

    .aboutMe{
        font: 25px "Fira Sans", sans-serif;
        font-weight: 550;
    }

    .aboutSection{
        width:70%;
    }
}

@media (max-width: 850px){
    .profilePhoto{
        height:275px;
        width:275px;
        }
    
        .leftDivAbout{
            margin-right: 40px;
        }
    
        .aboutName{
            font: 30px "Fira Sans", sans-serif;
        }
    
        .aboutTitle{
            font-size: 12px;
        }
    
        .aboutSection{
            width:80%;
        }
}

@media (max-width: 675px){
    .profilePhoto{
        height:225px;
        width:225px;
        }
    
        .leftDivAbout{
            margin-right: 30px;
        }
    
        .aboutName{
            font: 20px "Fira Sans", sans-serif;
        }
    
        .aboutTitle{
            font-size: 10px;
        }
    
        .aboutMe{
            font: 20px "Fira Sans", sans-serif;
            font-weight: 550;
        }
        .aboutSection{
            font-size: 12px;
        }
}