.contactDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    
}

.form-control{
    display: flex;
    flex-direction: column;
    width:55%;
    border:none;
}

textarea{
    resize: none;
}