.projectDiv{
    display: flex; 
    height: 300px;
    justify-content: center;
    align-items: center;
}

.projectTitle{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.popCard{
    background: #143363;
    color:white;
    width:25%;
    height:175px;
    font-weight: 400;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    border-radius: 7px;
    text-decoration: none;
}

.flashCard{
    background: #cf1c15;
    width:25%;
    height:175px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    border-radius: 7px;
}

.flashLogo{
    width:200px;
}

@media (max-width: 930px){

    .popCard{
        height:120px;
        font-size: 30px;
        margin:60px
    }

    .flashCard{
        height:120px;
        margin:60px
    }

    .flashLogo{
        width:120px
    }

  
}

@media (max-width: 570px){

    .popCard{
        height:80px;
        font-size: 20px;
        margin-right:40px;
       
    }

    .flashCard{
        height:80px;
        margin-left:40px;
       
    }

    .flashLogo{
        width:100px
    }
    
}