.navbar {
    display: flex;
    background: #2f7cf0;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    height:60px;
   font-family: "Fira Sands", "sans-serif"
   
}

.navLink{
    margin-right: 20px;
    margin-left: 20px;
    text-decoration:none;
    list-style-type: none;
    color: rgb(255, 255, 255);
}

