.navbar {
    display: flex;
    background: #2f7cf0;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height:60px;
   
   
}

.navLink{
    margin-right: 20px;
    margin-left: 20px;
    text-decoration:none;
    list-style-type: none;
    color: rgb(255, 255, 255);
}

.rightNav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    height:60px;
}

@media (max-width:530px){
    .navLink{
        margin-right: 10px;
        margin-left: 10px;
        font-size: 15px ;
    }
}

@media (max-width: 375px){
    .navLink{
        margin-right: 6px;
        margin-left: 6px;
        font-size: 10px;
    }
}